{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}

    {% if content_type == 'routes' %}
        {% for route in routes %}
            <a href="/ver/ruta/{{route.name}}">
                <article class="card">
                    <h3 class="card-title">{{route.name}}</h3>
                    <p class="card-description">{{route.route_description}}</p>
                </article>
            </a>
        {% endfor %}

    {% elif content_type == 'bus_stops' %}
        {% for stop in stops %}
            <a href="#">
                <article class="card">
                    <h3 class="card-title">{{stop.name}}</h3>
                    <p class="card-description">{{stop.address}}</p>
                </article>
            </a>
        {% endfor %}

    {% else %}
        {% for zone in zones %}
            <a href="/ver/zona/{{zone.name}}">
                <article class="card">
                    <h3 class="card-title">{{zone.name}}</h3>
                    <p class="card-description">{{zone.description}}</p>
                </article>
            </a>
        {% endfor %}
    {% endif %}

{% endblock %}